body {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}
ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255,255,255);
}

li {
    float: center;
}

li a:hover {
    background-color: rgb(255,0,0);
    animation-duration: text-decoration 8s;
}

